.container
  .page-header
    %h2 Listing Articles
  %table{:style => "width:85%"}
    %tr
      %th Title
      %th Text
      %th{:colspan => "3"}
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= link_to 'Show', article_path(article)
